<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    For system preferred color scheme
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    -->

	{% block extra_head %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <!-- For dark theme -->
    <title>{% block title %}{% endblock %} - ClickerRPG</title>
    <style>
        .alert {
            background-color: var(--background);
            color: var(--text-muted);
            position: relative;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border-radius: .25rem;
            box-sizing: border-box;
        }
    </style>
    {% block extra_css %}
    {% endblock %}
</head>
<body>

    <div>
    <span><a href="{{url_for('index')}}"> <button class="none">На Главную</button> </a> </span>
    <span><a href="{{url_for('register')}}"> <button class="none">Регистрация</button> </a> </span>
    <span><a href="{{url_for('suggest')}}"> <button class="none">Предложить Слова</button> </a> </span>
    <span><a href="{{url_for('play')}}"> <button class="none">Список Лобби</button> </a> </span>
    <span><a href="{{url_for('createLobby')}}"> <button class="none">Создать Лобби</button> </a> </span>
    <span><a href="{{url_for('about')}}"> <button class="none">О Сайте</button> </a> </span>
    </div>

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
	{% if errors %}
	<div class="alert-message block-message error">
	  <a class="close" href="#">×</a>
	  <ul>
		{%- for msg in errors %}
		<li>{{ msg }}</li>
		{% endfor -%}
	  </ul>
	</div>
	{% endif %}
	{% endwith %}



    {% block content %}
    {% endblock %}
</body>
</html>
