<html>
  <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="static/risovach/index.js"></script>


      <title>Vote</title>
  </head>
  <body>
      <div>Yes Votes: <span id="yes"></span></div>
      <div>No Votes: <span id="no"></span></div>
      <div>Maybe Votes: <span id="maybe"><span></div>
      <hr>
      <button data-vote="yes">Yes</button>
      <button data-vote="no">No</button>
      <button data-vote="maybe">Maybe</button>
  </body>

</html>